
.avatar {
    border-radius: 50px;
    float: right;
    margin: 0 !important;
}

.entry-body {
    font-family: Georgia, "Cambria", serif;
    color: #6e6e6e;
    line-height: 1.8em;
    font-size: 1.2em;
    padding: 20px 0;
}
.entry {
    margin: 1em 15px;
    padding: 0 50px;
    height: 100px;
 }

.entry .avatar {
    height: 60px;
    width: 60px;
}

.entry .entry-body {
    font-size: 1em;
    color: #bdbdbd;
    padding: 0;
    line-height: normal;
}

.author {
    color: #545454;
    font-size: 0.7em;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #ffffff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}